AGENT_PORT=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
ENVIRONMENT=
FALLBACK_LLM_MODEL=
GROQ_API_KEY=
HF_TOKEN=
JWT_SECRET=
LLM_MODEL=
MEM0_API_KEY=
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
RABBITMQ_URL=
XAI_API_KEY=